[submodule "Viper/vendor/spdlog"]
	path = Viper/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Viper/vendor/GLFW"]
	path = Viper/vendor/GLFW
	url = https://github.com/evan-meany/glfw
