[submodule "Viper/vendor/spdlog"]
	path = Viper/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Viper/vendor/GLFW"]
	path = Viper/vendor/GLFW
	url = https://github.com/evan-meany/glfw
[submodule "Viper/vendor/imgui"]
	path = Viper/vendor/imgui
	url = https://github.com/evan-meany/imgui.git
[submodule "Viper/vendor/glm"]
	path = Viper/vendor/glm
	url = https://github.com/evan-meany/glm.git
